# Ignore compiled files
*.class
*.jar

# Ignore IDE files
.idea/
.vscode/

# Ignore build output
target/

# Ignore dependency directories
node_modules/
.mvn/

# Ignore environment files (like .env for security reasons)
.env
